body{
    overflow-x: hidden;
}
#heading {
    height: fit-content;
    font-size: x-large;
    color: blue;
    text-align: center;
}

nav {
    text-align: center;
}

hr {
    width: 30%;
}

.general {
    word-wrap: break-word;
    text-align: center;
    font-size: x-large;
    width: 35%;
    height: 25%;
    padding: 0%;
    margin: auto;
    background-color: white;
}

#nav {
    margin: auto;
    text-align: center;
    width: 60%;
    font-size: x-large;

}

#reminders {
    color: rgb(170, 170, 31);
    border-style: solid;
    border-radius: 8px;
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 0%;
    /* display: none; */
}

#gen {

    background-color: rgba(119, 128, 123, 0.281);
    padding-right: 50px;
}

#foc {
    background-color: rgba(65, 225, 231, 0.589);
    padding-right: 50px;
}

#urg {
    background-color: rgba(119, 128, 123, 0.281);
    padding-right: 50px;
}

.content {
    text-align: center;
}

div nav:first-child a {
    color: black;
    text-decoration: none;
    padding: 0 15px;
    transition: all .7s ease-in;
}

div nav:first-child a:hover {
    color: red;
    text-decoration: underline;
    font-weight: 500;
    border: 3px solid #000;
    border-radius: 8px;
    border-color: red;
}

h2 {
    text-align: center;
    font-size: larger;
    background-color: rgb(189, 183, 107);
    width: 90%;
    height: 25px;
    border: solid 2px;
    border-radius: 4px;
    margin-left: 20px;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#first_column, #second_column {
    border: solid 3px;
    border-style: ridge;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: rgb(189, 183, 107);
}

.button{
    background-color: rgb(179, 175, 119);
    border-radius: 20px;
    height: 60px;
    font-size: 22px;
    font-weight:700;
    cursor: pointer;
    text-align: center;
    position: fixed;
    bottom: 25px;  
    margin-left: 500px; 
}

.container{
    position:relative;
    height: 100%;
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}
.formPopup{
    position: absolute;
    justify-content: center;
    border: solid 2px black;
    border-radius: 8px;
    background-color:rgb(214, 207, 109);
    width: 50%;
    height: 350px;
    font-weight: 700;
    transform: translate(0%, 0%) scale(0.1);
    transition: transform 0.4s, top 0.4s;
    visibility: hidden;
    
}
.showFormPopup{
    left: 50px;
    visibility: visible;
    transform: translate(50%, -105%) scale(1.5);    
}

.formPopup label{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: cursive;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

h3{
    font-style: italic;
    font-size: x-large;
    font: optional;
    font-weight: 1000;
    text-decoration: underline;

}
.container .formPopup #new_task,#todo_task {
    width: 70%;
    height: 3vh;
    border-radius: 8px;
    
}

.container .formPopup #box-check{
    width: 20px;
    height: 30px;
    border-radius: 8px;
}

.container .formPopup #deadline{
    width: 5.5cm;
    height: 3vh;
    border-radius: 7px;  
}

.formPopup #submit{
    width: 6.5cm;
    height: 4vh;
    border-radius: 7px;
    background-color: rgb(180, 200, 238);
    font-weight: 800;
    margin-left: 100px;
}

.formPopup #cancel{
    width: 3.5cm;
    height: 4vh;
    border-radius: 7px;
    background-color: rgb(180, 200, 238);
    font-weight: 800;
    float: right;
    margin-right: 100px;
}


#span{
    display: flex;
    justify-content:left;
    align-items: center;
}
.stick .button{
    right: 10px;
    
}

@keyframes wriggle {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(10deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    60% {
      transform: rotate(6deg);
    }
    80% {
      transform: rotate(-6deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

.no_task {
    text-align: center;
    margin-left: 26%;
    width: 50%;
    border: solid 2px;
    border-radius: 8px;
    background-color: rgb(196, 191, 128);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: larger;
    height: 50px;
    animation: wriggle 2s ease-in-out infinite;
 }
