.error {
    display: none;
}

.show {
    display:inline-block;
}
.list{
    list-style: none;
}
.button{
    contain: style;
    align-items: center;
    margin-left: 10px;
}



#todo_list p{
    color: chocolate;
    font-weight: bolder;
}

#cat_list a{
    font-size: large;
    font-weight: bolder;
}
#cat_list li{
    padding-bottom: 15px;
}
h4{
    font-size: large;
}
p{
    font-size: large;
}

