<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base_template.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/message.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_todo.css') }}">

    <!-- ----------------------------javascript files imports---------------------------------------------->
    
    {% block base_css %} {% endblock %}
    {% block add_remind_css %} {% endblock %}
    {% block welcome_css %} {% endblock %}
    {% block category_css %} {% endblock %}
    <title>{%block title%} {%endblock%} Clara's Reminder</title>

</head>

<body>
    <div id="heading">Welcome to CLARA's Reminder</div>
    <hr>
    <div id="nav">
        <nav>
            <a href="/">Home</a>
            <a href="about">About Us</a>
            <a href="contact_us">Contact Us</a>
            <a href="login">Login/SignUp</a>
        </nav>
    </div>
    <hr>
    <nav id="reminders">
        <a id="world" class="general" href="{{ url_for('world_reminders') }}">World Reminders</a>
        <a id="national" class="general" href="{{ url_for('national_reminders') }}">National Reminders</a>
        <a id="urgent" class="general" href="{{ url_for('urgent_reminders') }}">Urgent Reminders</a>
    </nav>

    <div id="active_reminder"> Error Fetching Reminders </div>
    <br>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <br>
    <div class="stick"><input class="button" id="click_button" type="button" onclick="openFormPopup()" value="Click here to schedule a task    &#9202"></div>
    <form class="formPopup" id="form">
            <h3>Schedule a task reminder</h3>
            <label for="fname">Add category for this task:    </label><input id="cat_name" type="text" placeholder="Task Category"/>
            <br>
            <br>
            <label for="fname">Add a task:    </label><input id="todo_task" type="text" placeholder="Task Description"/>
            <br>
            <br>
            <span id="span"><label for="fname">Would you like a reminder for this task (optional):    </label><input type="checkbox" id="box-check"/></span>
            <br>
            <br>
            <label for="fname">Choose a deadline you want for this task:    </label><input id="deadline" type="datetime-local" />
            <br>
            <br>
            <input type="button" id="submit" value="Submit Task for Scheduling" onclick="createCategory()"/> <button type="button" id="cancel" onclick="closeFormPopup()" style="margin-left: 250px;">Cancel</button>
    </form>
    <form class="editPopup" id="edit" onreset="formReset()">
        {% for category in category %}
        <h3>Edit {{category.category_name}} Category</h3>
        {% endfor %}
        <div>
            <div>
                <label for="fname">Would you like to rename this Category: </label>
                    <input type="radio" id="yes" name="rename_cat" value="YES"/>
                    <label for="yes">YES</label>
                    <input type="radio" id="no" name="rename_cat" value="NO" checked/>
                    <label for="no">NO</label>
            </div>
            <div id="rename_input" style="visibility: hidden;">
                <label for="fname">Enter new name for this category:    </label>
                <input id="edit_cat" type="text" placeholder="new category name"/>
            </div>
        </div>
        <div style="display:flex;"><label for="fname"> Category Completion Status:    </label><input id="category_status" type="checkbox"/> <p>(Note: tick to indicate CATEGORY is completed and will be moved to your archives)</p></div>
        <br>
        <label for="fname">Would you like to add a new task?:    </label><input id="new_task" type="text" placeholder=" enter new task description for this category"/>
        <br>
        <br>
        <label for="fname">Enter deadline for new task:    </label><input id="edit_deadline" type="datetime-local"/>
        <br>
        <br>
        <div><button id="btn_1" onclick="submitButton(event)">Submit</button> <button id="btn_2" onclick="closeEditPopup()">Cancel</button></div>
        <br>
    </form>
    <!-- --------------------------------------------javascript file imports--------------------------------- -->
    <script src="{{ url_for('static', filename='todo_scripts/edit_todo.js') }}"></script>
    <script src="{{ url_for('static', filename='todo_scripts/deleteTodo.js') }}"></script>
    <script src="{{ url_for('static', filename='todo_scripts/deleteCategory.js') }}"></script>
    <script src="{{ url_for('static', filename='todo_scripts/add_todo.js') }}"></script>
    <script src="{{ url_for('static', filename='todo_scripts/checkBox.js') }}"></script>
    <script src="{{ url_for('static', filename='todo_scripts/message.js') }}"></script>
    <script >
        document.addEventListener('DOMContentLoaded', function() {
            const navLinks = document.querySelectorAll('.general');

            // Check if there's a saved active link in local storage
            const activeLinkId = localStorage.getItem('activeLinkId');
            console.log("active link", activeLinkId);
            if (activeLinkId) {
                const active_reminder = document.getElementById("active_reminder");
                if (active_reminder){
                    active_reminder.innerHTML = (activeLinkId.toUpperCase() + " REMINDERS");
                }
            }

            navLinks.forEach(link => {
                link.addEventListener('click', function(event) {
                    console.log('Link clicked:', this); // Debugging statement

                    navLinks.forEach(link => link.classList.remove('active')); // Remove active class from all links
                    this.classList.add('active'); // Add active class to the clicked link

                    // Save the active link's ID in local storage
                    localStorage.setItem('activeLinkId', this.id);
                });
            });
        });

    </script>
</body>
</html>

<!-- /*
    TODO:
        (1) Theme Colors Selection
        (2) App Logo Design
        (3) How to integrate any of the front-end flavours 
        (4) Remove all non-repetitive elements from BASE Template
        (5) Use app state management to manage login sessions and enhance security of the app
*/ -->