{% extends "base.html" %}

{%block title%} {{super()}} Todo Categories {%endblock%}

{% block base_css %}
 <link rel="stylesheet" href="{{url_for('static', filename='css/base_template.css')}}"/> 
 <link rel="stylesheet" href="{{url_for('static', filename='css/category_display.css')}}"/>
 <link rel="stylesheet" href="{{url_for('static', filename='css/edit_todo.css')}}"/>
{% endblock %}   

{% block content %}

<div class="row">
    <div class="column">  
        <div id="first_column"> 
            <h2>Your Todo Categories</h2> 
            <ul id="cat_list">
                {% for category in category_lists %} <!-- this is the flask template(jinja2) ()for embedding python code in html-->                      
                    <li data-category_id="{{category.id}}" class="list">
                        <button data-removeid="{{category.id}}" class="button1">&cross;</button><a href="/categories/{{category.id}}"> {{category.category_name}} </a><button data-editid="{{category.id}}" class="button2" data-cat_name ="{{category.category_name}}">Edit</button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="column">
        <div id="second_column">
            <div id="no_task" style="display: none;"><span><h1>"Click on a category to view task"</span></h1></div>
            <div id="cat_display">
            {% for category in category %}
            <h2> Here is the list of your todo tasks for {{category.category_name}} </h2>
            {% endfor %}
                <div id="list_display">
                    <ul id="todo_list">
                    {% for task in category_todos %}
                    <li>
                        <p><button data-removeid="{{task.id}}" class="button4">&cross;</button></p> <p><span>{{ task.description}}</span></p><p> <input type="checkbox" {% if task.completed %} checked {% endif %} id="check_status" class="check" data-id="{{task.id}}"/></p> 
                    </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/todo_scripts/edit_todo.js"></script>
<script src="/static/todo_scripts/deleteTodo.js"></script>
<script src="/static/todo_scripts/deleteCategory.js"></script>
<script>
    const currentPage = document.querySelector("#todo_list");
    if (currentPage.childElementCount === 0){
                        
                        setTimeout(function(){
                                list_display.style.display = 'block';
                                list_display.innerHTML = "There aren't any todo task for this category <br> Click on edit to add task to this category";
                                list_display.classList.add("no_task");
                                },1500);                                         
                        } 
</script>
{% endblock %}