{% extends "base.html" %}

{%block title%} {{super()}} Todo Categories {%endblock%}

{% block base_css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/base_template.css') }}"/> {% endblock %}   

{% block content %}

{% endblock%}




/*
    TODO:
        (1) Centralize the place holder for collecting user input data
        (2) Divs for Signing IN and Signing UP
        (3) Sign-In Div should allow appearance for Facebook, Google, Microsoft and maybe LinkedIn
        (4) Navigation from here without any authenticated login session should allow only general 
            feeds for public consumption.
        (5) 

        
*/