{% extends "base.html" %}

{%block title%} My Reminders || {%endblock%}

{% block welcome_css %} 
<link rel="stylesheet" href="static/css/my_reminders.css"/> {% endblock %}   
{% block content %}
<div class="row">
    <div class="column">
        <div>
            <h4>Your Recent Todo Categories</h4>
                
                <ul id="cat_list">
                    {% for category in category_lists %} <!-- this is the flask template(jinja2) ()for embedding python code in html-->                      
                        <!-- <li data-category="{{category.id}}"> -->
                        <li data-category_id="{{category.id}}" class="list">
                            <a href="/categories/{{category.id}}"> {{category.category_name}} </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    <div class="column">
        <div id="todos">
            <h4>Your Recently Todo Tasks</h4>
            <ul id="todo_list">
                {% for todo in todo_lists[:10] | sort(reverse=true, attribute="activity_time") %} <!-- this is the flask template(jinja2) ()for embedding python code in html-->                      
                    <li data-todo="{{todo.completed}}" class="list">
                        {% if todo.completed == true %}
                        <p> {{todo.description}} completed at {{todo.activity_time.strftime('%Y-%m-%d')}} </p>
                        {% else %}
                        <p> {{todo.description}} created at {{todo.activity_time.strftime('%Y-%m-%d')}} </p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        </div>
    </div>
</div>





{% endblock %}