{% extends 'reminders.html' %}

{% block base_css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/world_reminder.css') }}"/> 
{% endblock %}  

{% block world_reminders %}

<div class="container">
    <ul>
        {% for reminder in reminders %}
        <li class="event">
            <p class="event_title"> {{ reminder.title }}</p>
            <p class="event_description"> {{ reminder.category }}</p>
            <div class="event_detail">
                <p > <strong>{{ reminder.date }} </strong></p>
                <p > <strong>{{ reminder.location }}</strong></p>
                <p > <strong>{{ reminder.description }}</strong></p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- Pagination Controls -->
<div>
    {% if page > 1 %}
    <a href="{{ url_for('world_reminders', page=page-1) }}">Previous</a>
    {% endif %}

    <span>Page {{ page }}</span>

    {% if reminders|length == per_page %}
    <a href="{{ url_for('world_reminders', page=page+1) }}">Next</a>
    {% endif %}
</div>


{%endblock%}